.conteneur_profile{
    width: 90%;
    display: flex;
    animation: scrollLeft 1s ease-in-out forwards;
}

.conteneur_profile_info{
    width: 33.33%;
    color: #35F131;
    font-size: 2.5em;
    background-color: rgba(38 , 38, 38, 0.6);
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 1s ease-in-out;
}

.conteneur_profile_info:hover{
    width: 50%;
}

@keyframes scrollLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{

    }
}
